.title{
    font-size: 4rem;
    text-shadow: 0px 3px 20px #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    color: #fff;
}

@media (max-width: 768px){
    .title{
        font-size: 2rem;
    }
}

.wrapCards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    max-width: 1400px;
    margin-top: 1rem;
}

.card {
    background: rgba(255,255,255,0.05);
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    color: #fff;
    text-align: center;
}